{% extends "admin/base.html" %}

{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Cheche Portfolio{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">
     <img src="{% static 'images/cheche.jpeg' %}" alt="image" width="40" height="40">
    Cheche Portfolio</a></div>



{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">

{% endblock %}