
body{
    background-color: rgb(20,0,30);
}


.navbar-nav .nav-link:hover{
    font-weight: bold;
    color: #4fffb0;
}
.navbar-nav .nav-link:hover{
    font-size:20px ;
}
.navbar-brand{
    padding-right: 240px;
    font-size: 25px;
}
.navbar-dark{
    background-color: rgb(18,1,16);
}

.circular-image-container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circular-image{
    width: 120%;
    height: auto;
    display: block;

}
.title{
    color: #4fffb0;
}
.name{
    color: #fff;
}

.social_links{
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
 

}


.about_image{
    width: 200px;
    height: auto;
    display: block;
}


/* 
experience */
.jumbotron{
    background-color: #002244;
    padding: 20px;
    border-radius: 10px;
}

.display4{
    color: #eef3f8;
    font-size: 24px;
}

.lead{
    font-size: 18px;
    color: #28a745;
}
.lead1{
    font-size: 18px;
    color: #28a745;
}

.form-container{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
}
footer a{
    text-decoration: none;
}

/* css for pagination */
   
    .page-link {
        color: #fff;
        background-color: #000;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 5px;
       
    }
    .pagination {
        display: flex;
        justify-content: center;
    }
  