{% extends 'base.html' %} <br />
{% load static %} <br />
{% block content1 %}

<div class="container mt-5">
    <div class="row">
        {% for exp in experience %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ exp.Company }}</h5>
                    <p class="card-text">Position: {{ exp.Position }}</p>
                    <p class="card-text">Duration: {{ exp.Duration }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
 {% comment %} <div class="row my-2"> {% endcomment %}
  {% comment %} {% for experience in experience %} {% endcomment %}

  {% comment %} <div class="jumbotron jumbotron-fluid col-3 mt-2 mx-3">
   
   <h1 class="display4">{{ experience.Company }}</h1>
    <p class="lead">{{ experience.Position }}</p>
    <p class="lead">{{ experience.Duration }}</p>
  </div> {% endcomment %}

  {% comment %} {% endfor %} {% endcomment %}
{% comment %} </div>  {% endcomment %}



{% endblock content1 %}
